python-dotenv
langchain-community
pypdf
python-docx
langchain-huggingface
langchain-groq
fastapi
uvicorn
python-jose[cryptography]
pydantic[email]
slowapi
python-multipart
psycopg[binary]
langchain-qdrant
qdrant-client
supabase